PORT=5000

MONGO_URI=mongodb+srv://care101_database:nEnpV7ZZ39xVrEYE@care101.7xkq5yr.mongodb.net/care101?retryWrites=true&w=majority

JWT_SECRET=105d33f8fa3a68fc80c9d246e08f6d502a50c9af08fc01742a2b9b26e459ce32

STRIPE_SECRET_KEY=STRIPE_SECRET_KEY_PLACEHOLDER


NVIDIA_API_KEY=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