PORT=5001

MONGO_URI=mongodb+srv://care101_database:nEnpV7ZZ39xVrEYE@care101.7xkq5yr.mongodb.net/care101?retryWrites=true&w=majority

JWT_SECRET=105d33f8fa3a68fc80c9d246e08f6d502a50c9af08fc01742a2b9b26e459ce32

STRIPE_SECRET_KEY=sk_test_51Sbj21BWg8jc02PZkQa9OWMuqwjLDFNIZXg3GicmVPgbXJZ5iXPtrD7pk3faMw8iPQxNMUN4IKsYwGlNGUUyX34e00hxIr2evT

CLIENT_URL=http://localhost:9002

NVIDIA_API_KEY=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


# For Mailtrap:
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=damiduofc@gmail.com
EMAIL_PASS=nbgl xvnm essg ysvp

# For Android SMS Gateway
SMS_GATEWAY_LOGIN=
SMS_GATEWAY_PASSWORD=
SMS_GATEWAY_BASE_URL=
SMS_GATEWAY_SIM_NUMBER=
