# ipconfig getifaddr en0
EXPO_PUBLIC_API_URL=http://192.168.52.53:5000/api


EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Sbj21BWg8jc02PZb7HHgv3wgpSj7VoyiGAGHfnJKJudlecapvgVZhdYy0eigpSLtbTVT1r8CjovznYagOucw7Yi00lXdYS7tm

