# ipconfig getifaddr en0
EXPO_PUBLIC_API_URL=http://192.168.52.53:5000/api

EXPO_PUBLIC_OPENROUTER_API_KEY=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

EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Sbj21BWg8jc02PZb7HHgv3wgpSj7VoyiGAGHfnJKJudlecapvgVZhdYy0eigpSLtbTVT1r8CjovznYagOucw7Yi00lXdYS7tm

